.round-image span {
    position: unset !important;
}

.small-image {
    width: 50px;
    height: 50px;
}
.small-image img {
    width: 50px !important;
    height: 50px !important;
}

.image-text span {
    width: max-content !important;
    height: max-content !important;
}

.text-red-600 {
    color: red;
}

.-bottom-20{
    bottom: -22px;
}

#__react-alert__ div div div span{
    font-size: 14px;
}

@media (max-width: 767px) {

    #__react-alert__ div {
        align-items: center !important;
        top: 50px !important;
    }
}